/* Extra small devices mobile phones */
@media only screen and (max-width: 480px) {
   header{
    background-image:url(../images/mobile/image-hero.jpg);
    background-color:  hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    font-weight: 400;
    font-family: 'Alata', sans-serif;
    color: white;
    width: 184%;
    background-size: 100%;
    height: 73vh
    }
    body{
        font-family: 'Josefin Sans', sans-serif;;
        font-weight: 300;
    }
   .part1{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
       /* background-image:url(../images/mobile/image-interactive.jpg); */
       /* width: 0%; */
    }
   .image-int{
       width: 216%;
       content: url(../images/mobile/image-interactive.jpg);
    }
   .sub-part1{
       width: 85vw;
       margin-left: 44%;
       margin-top: 1%;
    }
   .sub-text1{
    border: 1px solid white;
    text-align: center;
    margin-left: 41%;
    margin-right: -61%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 26px;
    }
   .text1{
    text-align: center;
    border: 1px solid white;
    padding-right: 1%;
    padding-left: 7%;
    margin-left: 32%;
    margin-right: -71%;
    }
   .head{
      margin-top: 10%;
      margin-left: 45%;
      margin-right: -38%;
      text-align: center;
    }
   .pictures1{
       display: flex;
       flex-direction: column;
       margin-left: 12%;
       margin-right: 25%;
    }
   .deep{
       content: url(../images/mobile/image-deep-earth.jpg);
       width: 255%;
    }
   .container1{
      position: relative;
      text-align: left;
      color: white;
    }
   .deepearth{
      position: absolute;
      bottom: 2px;
      left: -2px;
      font-size: 35px;
    }
   .night{
       content: url(../images/mobile/image-night-arcade.jpg);
       width: 255%;
       margin-top: 9%;
    }
   .container2{
      position: relative;
      text-align: center;
      color:white;
    }
   .NA{
      position: absolute;
      bottom: -12px;
      left: 259px;
      font-size: 35px;
    }
   .na{
      margin-left: -225px;
      text-align: left; 
    }
   .soccer{
       content: url(../images/mobile/image-soccer-team.jpg);
       width: 255%;
       margin-top: 9%;
    }
   .container3{
      position: relative;
      text-align: center;
      color:white;
    }
   .SC{
      position: absolute;
      bottom: -1px;
      left: 261px;
      font-size: 35px;
    }
   .sc{
      margin-left: -220px;
      text-align: left;
    }
   .grid{
       content: url(../images/mobile/image-grid.jpg);
       width: 255%;
       margin-top: 9%;
    }
   .container4{
      position: relative;
      text-align: right;
      color:white;
    }
   .THE-GRID{
      position: absolute;
      bottom: -7px;
      left: 31px;
      font-size: 35px
    }
    .th{
      margin-left: 16px;
      text-align: left;
    }
    .pictures2{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        margin-left: 12%;
        margin-right: 25%;
        margin-bottom: 7%;
    }
    .above{
        content: url(../images/mobile/image-from-above.jpg);
        width: 255%;
        margin-top: 6%;
    }
    .container5{
        position: relative;
        text-align: left;
        color:white;
    }
    .fromabove{
        position: absolute;
        bottom: 2px;
        left: 38px;
        font-size: 35px;
    }
    .borealis{
        content: url(../images/mobile/image-pocket-borealis.jpg);
        width: 255%;
        margin-top: 9%;
    }
    .container6{
        position: relative;
        text-align: center;
        color:white;
    }
    .PB{
        position: absolute;
    bottom: 2px;
    left: 39px;
    font-size: 35px;
    }
    .curiosity{
        content: url(../images/mobile/image-curiosity.jpg);
        width: 255%;
        margin-top: 9%;
    }
    .container7{
        position: relative;
        text-align: center;
        color:white;
    }
    .TC{
        position: absolute;
    bottom: -2px;
    left: 30px;
    font-size: 35px; 
    }
    .FISHEYE{
        content: url(../images/mobile/image-fisheye.jpg);
        width: 255%;
        margin-top: 9%;
    }
    .container8{
        position: relative;
        text-align: right;
        color:white;
    }
    .FISH{
        position: absolute;
    bottom: -3px;
    left: 22px;
    font-size: 35px;
    }
    .button1{
        margin-left: 101%;
    margin-right: -59%;
    padding-left: 17%;
    margin-top: 11%;
    }
    footer{
        background-color: hsl(0, 0%, 0%);
    height:60vh;
    color: #ffffff;
    width: 184vw;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .footer_links{
        display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* position: relative; */
    line-height: 3rem;
    }
    .word{
        border: 3px solid white;
    font-size: 5rem;
    margin-left: 6%;
    margin-right: 7%;
    padding-left: 2%;
    padding-right: 2%;
    }
    .sub-div{
        content: url(../images/icon-hamburger.svg);
        width: 7%;
    }
    .log{
       margin-left: 36%;
    }
    .footerlink{
        margin-left: 41%;
        font-size: 27px;
    }
    .icons{
        margin-top: 0%;
    margin-left: 42%;
    margin-right: 0%;
    font-size: xx-large;
    }
    .copyright{
        margin-left: 32%;
        font-size: larger;
    }
    
}
    @media only screen and (min-width: 481px) and (max-width:720px) {
      header{
      background-image:url(../images/mobile/image-hero.jpg);
      background-color:  hsl(0, 0%, 100%);
      background-repeat: no-repeat;
      font-weight: 400;
      font-family: 'Alata', sans-serif;
      color: white;
      width: 184%;
      background-size: 100%;
      height: 117vh
      }
      body{
        font-family: 'Josefin Sans', sans-serif;;
        font-weight: 300;
      }
      .sub-div{
        content: url(../images/icon-hamburger.svg);
        width: 7%;
      }
      .word{
        border: 3px solid white;
        font-size: 6rem;
        margin-left: 5%;
        margin-right: 24%;
        padding-left: 2%;
        padding-right: 2%;
      }
      .part1{
        display: flex;
        flex-direction: column;
        margin-left: 7%;
      }
      .image-int{
        width: 200%;
        content: url(../images/mobile/image-interactive.jpg);
      }
      .sub-part1{
        width: 85vw;
        margin-left: 44%;
        margin-top: 1%;
      }
      .text1{
        text-align: center;
        border: 1px solid white;
        padding-right: 1%;
        padding-left: 7%;
        margin-left: 32%;
        margin-right: -16%;
      }
     .sub-text1{
        border: 1px solid white;
        text-align: center;
        margin-left: 41%;
        margin-right: -14%;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 26px;
      }
      .head{
        margin-top: 2%;
        margin-left: 66%;
        margin-right: -23%;
        text-align: center;
      }
      .pictures1{
        display: flex;
        flex-direction: column;
        margin-left: 12%;
        margin-right: 25%;
      }
      .deep{
        content: url(../images/mobile/image-deep-earth.jpg);
        width: 255%;
      }
      .container1{
        position: relative;
        text-align: left;
        color: white;
      }
      .deepearth{
        position: absolute;
      bottom: 16px;
      left: 46px;
      font-size: 65px;
      }
      .night{
        content: url(../images/mobile/image-night-arcade.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container2{
       position: relative;
       text-align: center;
       color:white;
      }
      .NA{
        position: absolute;
        bottom: 6px;
        left: 16%;
        font-size: 65px;
      }
      .na{
        margin-left: 1%;
        text-align: left; 
      }
      .soccer{
        content: url(../images/mobile/image-soccer-team.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container3{
       position: relative;
       text-align: center;
       color:white;
      }
      .SC{
        position: absolute;
        bottom: 0px;
        left: 16%;
        font-size: 65px;
      }
      .sc {
        margin-left: 0%;
        text-align: left;
      }
      .grid{
        content: url(../images/mobile/image-grid.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container4{
       position: relative;
       text-align: right;
       color:white;
      }
      .THE-GRID{
        position: absolute;
        bottom: -4px;
        left: 15%;
        font-size: 65px;
      }
      .pictures2{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        margin-left: 12%;
        margin-right: 25%;
        margin-bottom: 7%;
      }
      .above{
        content: url(../images/mobile/image-from-above.jpg);
        width: 255%;
        margin-top: 6%;
      }
      .container5{
        position: relative;
        text-align: left;
        color:white;
      }
      .fromabove{
        position: absolute;
        bottom: -14px;
        left: 17%;
        font-size: 65px;
      }
      .borealis{
        content: url(../images/mobile/image-pocket-borealis.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container6{
        position: relative;
        text-align: center;
        color:white;
      }
      .PB{
        position: absolute;
       bottom: 0px;
       left: 70px;
       font-size: 65px;
      }
      .curiosity{
        content: url(../images/mobile/image-curiosity.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container7{
        position: relative;
        text-align: center;
        color:white;
      }
      .TC{
        position: absolute;
        bottom: 0px;
        left: 57px;
        font-size: 65px;
      }
      .FISHEYE{
        content: url(../images/mobile/image-fisheye.jpg);
        width: 255%;
        margin-top: 9%;
      }
      .container8{
        position: relative;
        text-align: right;
        color:white;
      }
      .FISH{
        position: absolute;
        bottom: 0px;
        left: 15%;
        font-size: 65px;
      }
      .button1{
        margin-left: 101%;
        margin-right: -59%;
        padding-left: 20%;
        margin-top: 11%;
      }
      footer{
        background-color: hsl(0, 0%, 0%);
        height:73vh;
        color: #ffffff;
        width: 184vw;
      }
      .main{
        display: flex;
        flex-direction: column;
      }
      .footer_links{
        display: flex;
       /* justify-content: center; */
      flex-direction: column;
       /* position: relative; */
      line-height: 3rem;
      }
      .log{
        margin-left: 41%;
      }
      .footerlink{
         margin-left: 43%;
         font-size: 27px;
      }
      .icons{
         margin-top: 0%;
       margin-left: 42%;
       margin-right: 0%;
       font-size: xx-large;
      }
      .copyright{
         margin-left: 35%;
         font-size: larger;
      }

    }
        @media only screen and (min-width: 721px) and (max-width:1024px) {
            header{
              background-image:url(../images/mobile/image-hero.jpg);
              background-color:  hsl(0, 0%, 100%);
              background-repeat: no-repeat;
              font-weight: 400;
              font-family: 'Alata', sans-serif;
              color: white;
              width: 184%;
              background-size: 100%;
              height: 80vh
              }
              body{
                font-family: 'Josefin Sans', sans-serif;;
                font-weight: 300;
              }
              .sub-div{
                content: url(../images/icon-hamburger.svg);
                width: 7%;
              }
              .word{
                border: 3px solid white;
                font-size: 7rem;
                margin-left: 5%;
                margin-right: 35%;
                padding-left: 2%;
                padding-right: 2%;
              }
              .part1{
                display: flex;
                flex-direction: column;
                margin-left: 9%;
                margin-right: 6%;
              }
              .image-int{
                width: 200%;
                content: url(../images/mobile/image-interactive.jpg);
              }
              .sub-part1{
                width: 85vw;
                margin-left: 44%;
                margin-top: 1%;
              }
              .text1{
                text-align: center;
                border: 1px solid white;
                padding-right: 1%;
                padding-left: 7%;
                margin-left: 32%;
                margin-right: -16%;
                font-size: 59px;
              }
              .text2{
                margin-left: 79%;
                margin-right: -55%;
                font-size: 52px;
                margin-bottom: 10%;
              }
             .sub-text1{
                border: 1px solid white;
                text-align: center;
                margin-left: 40%;
                margin-right: -17%;
                padding-left: 0%;
                padding-right: 0%;
                font-size: 47px;
              }
              head {
                margin-top: 2%;
                margin-left: 0%;
                margin-right: 13%;
                text-align: center;
              }
              .pictures1{
                display: flex;
                flex-direction: column;
                margin-left: 12%;
                margin-right: 25%;
              }
              .deep{
                content: url(../images/mobile/image-deep-earth.jpg);
                width: 255%;
              }
              .container1{
                position: relative;
                text-align: left;
                color: white;
              }
              .deepearth{
                position: absolute;
              bottom: 16px;
              left: 46px;
              font-size: 65px;
              }
              .night{
                content: url(../images/mobile/image-night-arcade.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container2{
               position: relative;
               text-align: center;
               color:white;
              }
              .NA{
                position: absolute;
                bottom: 6px;
                left: 16%;
                font-size: 65px;
              }
              .na{
                margin-left: 1%;
                text-align: left; 
              }
              .soccer{
                content: url(../images/mobile/image-soccer-team.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container3{
               position: relative;
               text-align: center;
               color:white;
              }
              .SC{
                position: absolute;
                bottom: 0px;
                left: 16%;
                font-size: 65px;
              }
              .sc {
                margin-left: 0%;
                text-align: left;
              }
              .grid{
                content: url(../images/mobile/image-grid.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container4{
               position: relative;
               text-align: right;
               color:white;
              }
              .THE-GRID{
                position: absolute;
                bottom: -4px;
                left: 15%;
                font-size: 65px;
              }
              .pictures2{
                display: flex;
                flex-direction: column;
                margin-top: 6%;
                margin-left: 12%;
                margin-right: 25%;
                margin-bottom: 7%;
              }
              .above{
                content: url(../images/mobile/image-from-above.jpg);
                width: 255%;
                margin-top: 6%;
              }
              .container5{
                position: relative;
                text-align: left;
                color:white;
              }
              .fromabove{
                position: absolute;
                bottom: -14px;
                left: 17%;
                font-size: 65px;
              }
              .borealis{
                content: url(../images/mobile/image-pocket-borealis.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container6{
                position: relative;
                text-align: center;
                color:white;
              }
              .PB{
                position: absolute;
               bottom: 0px;
               left: 70px;
               font-size: 65px;
              }
              .curiosity{
                content: url(../images/mobile/image-curiosity.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container7{
                position: relative;
                text-align: center;
                color:white;
              }
              .TC{
                position: absolute;
                bottom: 0px;
                left: 57px;
                font-size: 65px;
              }
              .FISHEYE{
                content: url(../images/mobile/image-fisheye.jpg);
                width: 255%;
                margin-top: 9%;
              }
              .container8{
                position: relative;
                text-align: right;
                color:white;
              }
              .FISH{
                position: absolute;
                bottom: 0px;
                left: 15%;
                font-size: 65px;
              }
              .button1{
                margin-left: 101%;
                margin-right: -59%;
                padding-left: 23%;
                margin-top: 11%;
              }
              footer{
                background-color: hsl(0, 0%, 0%);
                height:56vh;
                color: #ffffff;
                width: 184vw;
              }
              .main{
                display: flex;
                flex-direction: column;
              }
              .footer_links{
                display: flex;
               /* justify-content: center; */
              flex-direction: column;
               /* position: relative; */
              line-height: 3rem;
              }
              .log{
                margin-left: 43%;
              }
              .footerlink{
                 margin-left: 44%;
                 font-size: 27px;
              }
              .icons{
                 margin-top: 0%;
               margin-left: 44%;
               margin-right: 0%;
               font-size: xx-large;
              }
              .copyright{
                margin-left: 34%;
                font-size: xx-large;
              }
        }

    }